    .container-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .form-signin {
        max-width: 400px;
        width: 100%;
    }

    .text-block {
        margin-bottom: 30px;
    }

            .form-field {
        margin-bottom: 15px;
    }
        .custom-label-style {
        font-size: 16px;
        margin-bottom: 10px;

    }

        .error ul {
        list-style-type:none;
        padding: 0;
    }

    .success-message {
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}